# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Ambiente
.env
.env.local
.env.development
.env.homologacao
*.local

# Testes
coverage/

# Editor
.vscode/*
!.vscode/settings.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# TypeScript build info
*.tsbuildinfo

# Deploy
.vercel/

# OS
Thumbs.db

# Testes temporários
test*.md
