@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@import './tokens.css';
@import './reset.css';
@import './animacoes.css';

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
